html, body {
  margin: 0% !im;
  padding: 0% !important;
  height: 100% !important;
  min-height: 100%;
  background: #F0F0F0;
}

nav {
  font-family: "Lato";
}


#text {
  font-size: 32px;
  color: white;
}

#brand {
  font-size: 32px;
  display: hidden !important;
}

nav li a {
  border-bottom: 3px solid transparent;
  letter-spacing: 1px;
}

a.nav-link:hover {
  border-bottom: 2px solid white;
}

h1 {
  text-align: center;
  text-transform: capitalize;
  margin-top: 15%;
  color: white;
  font-family: sans-serif;
  text-shadow: 3px 2px gray;
  letter-spacing: 3px;
}

.top {
  background: #4C5364;  /* fallback for old browsers */
  background-size: cover;
  height: 100% !important;
  width: 100% !important;
  margin: auto;
}

.AboutSection {
  height: 50%;
  background: #F0F0F0;
  margin: 0;
  padding: 0;
  border: 0;
}

.paragraph {
  display: inline;
}

img {
  margin-top: 3% !important;
  height: 240px;
  width: 240px;
  float: right;
}

#header {
  font-size: 45px;
  font-family: sans-serif;
  text-shadow: 3px 2px gray;
  letter-spacing: 3px;
}

p {
  float: left;
  width: 50%;
  font-size: 32px;
  font-family: sans-serif;
}
