html,  body {
  height: 50%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  background: #4C5364;
}
nav {
  background: #4C5364;
  font-family: "Lato";
  border-bottom: 3px solid white;
  opacity: .90%;
}

#text {
  font-size: 32px;
  color: white;
}

#brand {
  font-size: 32px;
  display: hidden !important;
}

#header {
  font-size: 45px;
  font-family: sans-serif;
  text-shadow: 3px 2px gray;
  letter-spacing: 3px;
  font-size: 34px !important;
  margin-top: 5px;
}

nav li a {
  border-bottom: 3px solid transparent;
  letter-spacing: 1px;
}

a.nav-link:hover {
  border-bottom: 2px solid white;
}

.intro {
  margin-top: 25%;
  text-align: center;
  text-transform: capitalize;
  font-family: sans-serif;
  text-shadow: 3px 2px gray;
  letter-spacing: 3px;
  color: white;
  height: 200%;
}

.about {

  background: #F0F0F0;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 320px;
  border-radius: 50%;
}

p {
  font-size: 32px;
  font-family: sans-serif;

}

.card {
  text-align: center;
  background: #F0F0F0;
  border: none;
}

.card-title {
  color: #6c757d !important;
}



.list-group-item {
  background: #708090;
  border: none;
  margin-left: 50px;
  margin-right: 50px;
}

#book {
  color: #8B4513;
}

li {
  color: #000000;
}

#intro {
  line-height: 160%;
}
